#chess img {
    width: 30%;
    height: auto;
}

#monopoly img {
    width: 30%;
    height: auto;
}

#fool img {
    width: 30%;
    height: auto;
}

#battleship img {
    width: 30%;
    height: auto;
}

#backgammon img {
    width: 30%;
    height: auto;
}

#jenga img {
    width: 30%;
    height: auto;
}

#alias img {
    width: 30%;
    height: auto;
}

#Scrabble img {
    width: 30%;
    height: auto;
}