*, *::before, *::after {
box-sizing: border-box;
}

body {
margin: 0;
font-size: 1rem;
font-family: system-ui, sans-serif;
line-height: 1.5;
background-color: #c9b6ea;
color: #000000;
}

header {
    background-color: #7b2cbf;
    color: #fff;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #ffd60a;
    font-size: 1.25rem;
}

main{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
}

main > section {
    margin-top: 10px;
    margin-bottom: 10px;
}

summary {
    cursor: pointer;
}

#filters {
    padding: 20px;
    background-color: #1a9e8f;
} 

#filters form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset {
    border: 2px solid #7b2cbf;
    padding: 20px;
    border-radius: 8px;
    background-color: #f4f1fa;
}

fieldset h3 {
    margin: 0;
    color: #7b2cbf;
}

button {
    background-color: #7b2cbf;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #1a9e8f;
}

#games{
    padding: 20px;
    background-color: #e3f702;
    color: #7b2cbf;
}

#games ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

article {
    background-color: #f4f1fa;
    border-radius: 8px;
    padding: 15px;
}

article h3 {
    margin: 0;
    color: #1a9e8f;
}

article img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 4px 4px 12px rgba(123, 44, 191, 0.35);
    object-fit: cover;
    display: block;
    margin: 10px auto 20px;
}

article img:hover {
    box-shadow: 4px 4px 20px rgba(134, 46, 212, 0.5);
}

footer {
    background-color: #7b2cbf;
    font-size: 0.875rem;
    color: #e6d9f7;
    padding: 20px;
    text-align: center;
}

@media (min-width: 600px){
    header nav 
    {
        flex-direction: row;
        gap: 10px;
    }

    #filters form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #filters button {
        flex-basis: 100%;
    }

    #filters fieldset {
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 220px;
    }

    #games ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px)
{
    #games ul {
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }
}